.azure
.cache
.dotnet
.gitkraken
.gk
.gnupg
.java
.local
.npm
.nvm
.pki
.ssh
.vscode

Desktop
Dev
Documents
Downloads
Music
Pictures
Public
snap
Templates
Videos
Workspace

.bash_history
.bash_logout
.bashrc
.lesshst
.sudo_as_admin_successful
.wget-hsts
.zcompdump
.zcompdump-bitcoin-5.9
.zcompdump-bitcoin-5.9.zwc
.zhistory
.zsh_history
.zshrc.pre-oh-my-zsh

powerlevel10k

.zsh
.tmux
.rustup
.oh-my-zsh
.nvm
.nuget
.cargo

.config/Code
.config/dconf
.config/evolution
.config/GIMP
.config/GitKraken
.config/gnome-session
.config/goa-1.0
.config/gtk-3.0
.config/gtk-4.0
.config/ibus
.config/ibus
.config/JetBrains
.config/nautilus
.config/pulse
.config/tiling-assistant
.config/update-notifier
.config/alacritty/themes